frameworks/cocos2d-x
frameworks/runtime-src/proj.android/jni/hellolua
frameworks/runtime-src/proj.android/.settings
frameworks/runtime-src/proj.android/assets
frameworks/runtime-src/proj.android/bin
frameworks/runtime-src/proj.android/gen
frameworks/runtime-src/proj.android/libs
frameworks/runtime-src/proj.android/obj
frameworks/runtime-src/proj.android/res
frameworks/runtime-src/proj.android/.classpath
frameworks/runtime-src/proj.android/.project
frameworks/runtime-src/proj.android/AndroidManifest.xml
frameworks/runtime-src/proj.android/ant.properties
frameworks/runtime-src/proj.android/build-cfg.json
frameworks/runtime-src/proj.android/build.xml
frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.android/proguard-project.txt
frameworks/runtime-src/proj.android/project.properties
frameworks/runtime-src/proj.ios_mac/.idea
frameworks/runtime-src/proj.ios_mac/ios/AppController.h
frameworks/runtime-src/proj.ios_mac/ios/AppController.mm
frameworks/runtime-src/proj.ios_mac/ios/Default-568h@2x.png
frameworks/runtime-src/proj.ios_mac/ios/Default.png
frameworks/runtime-src/proj.ios_mac/ios/Default@2x.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-100.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-114.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-120.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-144.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-152.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-29.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-40.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-50.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-57.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-58.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-72.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-76.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-80.png
frameworks/runtime-src/proj.ios_mac/ios/Info.plist
frameworks/runtime-src/proj.ios_mac/ios/main.m
frameworks/runtime-src/proj.ios_mac/ios/Prefix.pch
frameworks/runtime-src/proj.ios_mac/ios/RootViewController.h
frameworks/runtime-src/proj.ios_mac/ios/RootViewController.mm
frameworks/runtime-src/proj.ios_mac/MyGame.xcodeproj
frameworks/runtime-src/proj.win32
frameworks/runtime-src/proj.linux
frameworks/CMakeLists.txt
res/fonts
res/background.caf
res/background.mp3
res/background.ogg
res/crop.png
res/dog.png
res/effect1.wav
res/farm.jpg
res/land.png
res/menu1.png
res/menu2.png
runtime
.cocos-project.json
frameworks/runtime-src/proj.ios_mac/mac/Icon.icns
frameworks/runtime-src/proj.ios_mac/mac/Info.plist
frameworks/runtime-src/proj.ios_mac/mac/main.cpp
frameworks/runtime-src/proj.ios_mac/mac/Prefix.pch
